*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "montserrat" ;
  position:relative;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header{
  min-width: 1400px;
}
.top{
  width:70%;
  margin:auto;
}
a{
  display: inline-block;
  text-decoration: none;
}
a:hover{
  cursor:grab
}
a:visited{
  color:black;
}
.top1{
  position: fixed;
  top:0;
  background-color: #F4F9FD;
  width:100%;
  height:80px;
  display:inline-block;
  border-bottom: 1px solid grey;
  line-height: 80px;
  z-index: 4;
}
.top2{
  margin-top:80px;
  width:100%;
  height:80px;
  line-height: 80px;
}
.top2 img{
  vertical-align: middle;
}
.left{
  float:left;
  display:inline-block;
}
.right{
  float:right;
  display: inline-block;
}
.search a{
  color:lightseagreen;
}
.button{
  border-radius: 5px;
  border:1px solid #FE775A;
  display:inline-block;
  vertical-align: middle;
  line-height: 35px;
  padding:5px 15px;
}
.tr/* trasparente */{
  color:#FE775A;
}
.orange{
  background-color: #FE775A;
  color:white;
}
.divisore{
  height:20px;
  margin:0 10px;
  display: inline-block;
  vertical-align: middle;
}
.top1 .left .divisore{
  border-right:1px solid grey;
}
a .divisore{
  margin: 0 5px;
}
.jumbotron{
  background-image: url(img/jumbotron.png);
  width: 100%;
  background-size:cover;
  margin:auto;
  height:90vh;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
  z-index: 2;
}
.col{
  width: 80%;
  margin:auto;
}
.jbottom{
  z-index: 3;
  position: absolute;
  bottom: 0;
  width:100%;
  height:11%;
  background-color: #AFEBE4;
  border-bottom:2px solid black;
  border-top:3px solid black;
}
.jumbotron .col{
  width:30%;
  margin-left: 15%;
  margin-right: 55%;
  padding-top:5%;
  max-height: 300px;
} 
.jumbotron .col h1{
  font-size: 3em;
  padding-bottom:8%;
}
.jumbotron .col p{
  font-size: 22px;
  color:black;
}
.jumbotron .col .small{
  font-size: 14px;
  color:black;
}
.jumbotron .button{
  margin: 5% 0;
  padding:15px 30px;
}
.orange:hover{
  background-color: #FE775A;
  opacity: 0.8;
  cursor:grab;
}
main{
  min-width: 1400px;
}
.main1{
  text-align: center;
}
.main1 .col{
  background-color: #bad2e5;
}
.main1 .col img{
  width: 200px;
  margin-top: 5%;
}
.main1 .col h2{
  font-weight: 800;
  margin-bottom: 2%;
}
.text{
  width:65%;
  margin: auto;
  font-size: 18px;
}
.whitebox{
  width:80%;
  margin: auto;
  margin-top: 5%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 3px 12px grey;
  padding:4%
}
.whitebox .col1{
  width: 40%;
  display: inline-block;
  float:left;
}
.whitebox .col2{
  width: 60%;
  display: inline-block;
  float:left;
}
.col1 .button{
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
}
.col1 .divisore{
  height: 3%;
  display: block;
}
.col2{
  padding-top:1%;
  text-align: left;
}
.col2 h3{
  margin-bottom:5% ;
}

/* un semplice blocco con proprietà block */
.block{
  display:block;
  width: 100%;
  height:1%;
  margin-top: 5%;
}

.block h3{
  display: inline-block;
  width: 29%;
  margin-bottom:0;
}
.linea{
  border-bottom: 1px solid black;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}
.check{
  display:inline-block;
  color:orangered;
}
.col3{
  width:80%;
  margin:auto;
  margin-top: 0;
}
.col3 .whitebox{
  width: 31%;
  display: inline-block;
  box-sizing:inherit;
  margin-bottom: 3%;
}
.col3 .center{
  margin-right:3%;
  margin-left:3%;
}
.col60{
  border-bottom: solid 1px grey;
  margin-bottom: 5%;
}
.whitebox img{
  height:100px;
  margin-bottom: 5%;
}
.col60 h4{
  color: #33475B;
  margin-bottom: 5%;
}
.col60 p{
  margin-bottom: 20%;
}
.whitebox h5{
  color: #33475B;
  margin-bottom: 5%;
}
.col40{
  height:40%
}
.col40 ul{
  text-align: left;
  font-size: 14px;
  list-style: none;
}
ul .check{
  margin-right: 2%;
}
.col40 .button{
  margin:10% auto 0 auto;
}
.info{
  width:100%;
  background-color: #00B7AC;
  color:#fff;
  padding-top:3%;
  padding-bottom: 3%;;
}
.info h1{
  display: inline-block;
  width: 65%;
  padding-bottom:2%;
  font-weight: 800;
}
.info h2:after{
  font-size: 30px ;
  content:"+";
  vertical-align: middle;
}
.info p{
  display: inline-block;
  width: 80%;
  padding-bottom:2%;
  font-size:17px;
}
.info .riga1{
  margin:auto;
  width:80%;
  border-bottom: 1px solid white;
  padding:0;
}
.info .riga2{
  margin:auto;
  width:80%;
  padding:0;
}
.box{
  box-sizing: border-box;
  display:inline-block;
  width:calc(99%/4);
  padding:0;
  text-align: center;
  height:100%;
  padding-top: 1%;
}
.box + .box{ 
  border-left:1px solid white; 
}
.box img{
  height:40px;
  margin:0;
  margin-bottom: 3%;
}
.box h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:3em;
  margin-bottom: 5%;
  font-weight: 600;
}
.col4{
  width:80%;
  margin:auto;
  padding-top:3%;
}
.col4 .riga1{
  height:150px;
}

.customers{
  float:left;
  width:30%;
  height:150px;
  padding-top:2%;
}
.customers h3{
  color: #33475B;
  font-family: Arial, Helvetica, sans-serif;
  font-size:2em;
  margin-bottom: 2%;
}
.customers p{
  font-weight: 600;
  color: #33475B;
  width:50%;
  margin:auto;
}
.loghi{
  height:100px;
  float:left;
  margin:auto;
  display:inline-block;
  margin-bottom: 20%;
}
.loghi ul li{
  display: inline-block;
  margin-right:20px;
}
.loghi div img{
  width:200px;
 vertical-align: middle;
}
.grow{
display:inline-block;
width: 30%;
float:left;
text-align: left;
}
.grow h2{
  color: #33475B;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10%;
}
.grow p{
  color: #33475B;
  font-family: "montserrat" Arial;
  margin-bottom:10%;
}
.col4 .img{
  width: 70%;
  float:left;
  text-align:right;
  line-height: 300px;
}
.img img{
  height:300px;
}
.sottotitolo{
  font-size:12px;
}
.grow .button{
  margin-bottom:8%;
}
footer{
  min-width: 1400px;
  padding:5% 0;
  display:inline-block;
  width:100%;
  background-color: #32495B;
  color:white;
}
.footer80{
  width:80%;
  margin:auto;
}
.footercol{
  width:20%;
  display:inline-block;
  float:left;
  margin-bottom: 10%;
}
.footercol h3{
  margin-bottom: 7%;
}
.footercol ul li{
  list-style: none;
  margin-bottom:5%;
}
.footercol + .footercol{
  margin-left:6%;
}
.white{
  background-color:#DADEE0;
  color:#32495B;
  border:1px solid white;
}
.icone ul li{
  display:inline-block;
  list-style: none;
  margin-right:10%;
  margin-top:5%;
}
.lingue{
  display:block;
  text-align:center;
  border-bottom: solid 1px white;
  padding-bottom:1%;
}
.fleft{
  display:inline-block;
  width:50%;
  text-align:left;
  float:left;
  margin-top: 2%;
}
.fright{
  display:inline-block;
  width:50%;
  text-align:right;
  float:left;
  margin-top: 2%;
  height:52px;
  line-height: 52px;
  vertical-align: middle;
}
.copyright{
  font-size: 12px;
}
.privacy{
  text-align: right;
}
footer a:visited{
  color:white;
}